# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build
.turbo

# Misc
.DS_Store
*.pem
*.log
*.tmp

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS-specific
Thumbs.db
ehthumbs.db
Desktop.ini